<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="org.juddar.entity.User" alias="User"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="org.juddar.dao.MyFirstPlugin"/>
        <plugin interceptor="org.juddar.dao.MySecondPlugin"/>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://47.94.246.83:3306/guns"/>
                <property name="username" value="zz"/>
                <property name="password" value="ZZ_1993!@#.com"/>
            </dataSource>
        </environment>
    </environments>



    <mappers>
        <mapper resource="conf/UserMapper.xml"/>
    </mappers>
</configuration>